#CollectionSlider {
  button {
    background: transparent;
    border: none;
    outline: none;
  }
  .swiper_body_wrapper {
    img {
      width: 100%;
    }
  }
  .btn_slider_box {
    svg {
      width: 100px;
      height: 100px;
    }
  }
}
