// ......................... Global Styles......................
@font-face {
  font-family: turis;
  src: url(./Static/fonts/FontsFree-Net-TurismoCF-100.ttf);
}

* {
  box-sizing: border-box;
  font-family: turis;
}

body {
  max-width: 1440px;
  margin: auto;
  background: #111112;
  color: #fff;
}
section,
header,
footer {
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 791px) {
  section,
  header,
  footer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
// ......................... Global Styles......................End

// ..................Headings..............
h1 {
  font-size: 45px;
  line-height: 140%;
  @media (max-width: 991px) {
    font-size: 28px;
  }
}
h2 {
  font-size: 40px;
  @media (max-width: 991px) {
    font-size: 24px;
  }
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 14px;
}
span.font_18 {
  font-size: 18px;
}
// ..................Headings..............End

// .................Paragraph..............
p {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  font-family: "Outfit", sans-serif;
  @media (max-width: 991px) {
    font-size: 16px;
  }
}
// .................Paragraph..............End

// custom classes......font
.family_outfit {
  font-family: "Outfit", sans-serif;
}
.family_turis {
  font-family: turis;
}

// ...custom background, text......

.text_red {
  color: #da0000 !important;
}

.bg_transparent {
  background: transparent;
}
// ............ btn.....

.btn_red {
  background: #da0000;
  color: white !important;
  font-family: "Outfit", sans-serif;
  &:hover {
    background: rgba(218, 0, 0, 0.8);
  }
}
.btn_hover_effect:hover {
  opacity: 0.8;
}

// .......Icon hover effect..........
.icon_opacity_full:hover {
  svg,
  rect {
    opacity: 1 !important;
  }
}
// .......Icon hover effect..........End
