#Homepage {
  #Section1 {
    position: relative;
    .section_1_content_col {
      @media (min-width: 1200px) {
        padding-top: 150px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url("../../Static/img/gradient.png") left center/contain
        no-repeat;
      z-index: -1;
    }

    @media (max-width: 1199px) {
      &::before {
        top: 0px;
        height: 50%;
        background: url("../../Static/img/gradient.png") right center/cover
          no-repeat;
      }
    }

    .nft_box {
      width: 176px;
      height: 176px;
      border-radius: 50%;
      background: url("../../Static/img/down.png") center/100% 100% no-repeat;
      cursor: pointer;
      &:hover {
        background: url("../../Static/img/down_hover.png") center/100% 100%
          no-repeat;
      }
    }
    .presale_img {
      max-height: 681px;
      display: block;
      margin-left: auto;
      @media (max-width: 1199px) {
        max-height: 500px;
      }
      @media (max-width: 791px) {
        max-height: 400px;
        margin-right: auto;
      }
    }
    .presale_starting_box {
      background: rgba(138, 0, 0, 0.3);
      backdrop-filter: blur(100px);
      position: absolute;
      bottom: -35px;
      right: 80px;
      @media (max-width: 1199px) {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
      }
      @media (max-width: 791px) {
        bottom: -40px;
        width: 100%;
      }
      .pass {
        font-size: 40px;
        margin-top: -40px;
      }
      span {
        opacity: 0.7;
      }
      * {
        font-family: "Outfit", sans-serif;
      }
      .btn_box {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 1199px) {
          width: 250px;
        }
        @media (max-width: 791px) {
          width: 100%;
        }
        button {
          font-size: 20px;
          padding: 15px;
          @media (max-width: 791px) {
            font-size: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  #Section4 {
    .section_container {
      background: url("../../Static/img/skoly_bg_banner.png") center/100% 100%
        no-repeat;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  #Section5 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../../Static/img/roadmap_img/roadmap_gradient.png") right
        150% / contain no-repeat;
      pointer-events: none;
    }
    @media (min-width: 1199px) {
      .roadmap_box_wrapper {
        position: relative;
        span.span_line {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          border: 1px solid rgba(255, 255, 255, 0.1);
          // &:nth-child(1) {
          //   width: 100%;
          //   top: 81px;
          // }
          // &:nth-child(2) {
          //   width: 100%;
          //   top: 341px;
          // }

          // &:nth-child(3) {
          //   width: 100%;
          //   top: 616px;
          // }

          // radius line span
          &:nth-child(4) {
            width: calc(100% - 130px);
            top: 80px;
            height: 250px;
            left: auto;
            right: 0px;
            border-left: none;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            &::before {
              content: "";
              position: absolute;
              top: -1px;
              right: 100%;
              width: 140px;
              border: 1px solid rgba(255, 255, 255, 0.05);
            }
          }

          // radius line span
          &:nth-child(5) {
            width: 100%;
            top: 330px;
            height: 274px;
            left: auto;
            right: 0px;
            border-top: none;
            border-right: none;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
          }
        }
      }
    }
    @media (max-width: 1199px) {
      &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        width: 50px;
        height: 68%;
        top: 266px;

        left: 89px;
        background: url("../../Static/img/roadmap_line_mobile.png") center 100% /
          auto 100% no-repeat;
      }

      @media (max-width: 991px) {
        &::before {
          left: 103px;
        }
      }
      @media (max-width: 772px) {
        &::before {
          left: 24px;
          height: 80%;
          top: 179px;
        }
      }
    }
  }
  #Section6 {
    .section_container {
      background: url("../../Static/img/kaboom_bg_banner.png") center/100% 100%
        no-repeat;
    }
  }
  #Section7 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -40%;
      right: 0px;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: url("../../Static/img/team_gradient.png") right 0 / contain
        no-repeat;
      opacity: 0.5;
      pointer-events: none;
    }
    .card_img_height {
      height: 376px;
      @media (max-width: 776px) {
        height: 275px;
      }
    }
  }
  #Section8 {
    position: relative;

    /* Custom style */
    .accordion-button:not(.collapsed):after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e") !important;
    }
    .accordion_wrapper {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .accordion-button {
      background: transparent;
      color: white !important;
      padding-left: 0px;
      padding-right: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .accordion-body {
      padding-left: 0px;
      padding-right: 0px;
    }
    .accordion-button::after {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      transform: scale(0.7) !important;
    }
    // .accordion-button:not(.collapsed)::after {
    //   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    // }
  }
  .accordion-item {
    background: transparent;
  }
}
